@import "./variables.css";

#nav-link {
  text-decoration: none;
  color: var(--main);
}
#nav-link:hover {
  color: var(--secondary-sign);
}
.content {
  width: 100%;
  height: calc(100vh - 40px - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  gap: 20px;
  height: max-content;
  width: 400px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.label {
  position: relative;
  font-size: 20px;
  padding: 6px;
  margin: 15px 0;
  color: var(--main-sign);
  font-weight: bold;
}
.label::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 30%;
  width: 40%;
  height: 3px;

  background: var(--secondary-sign);
  border-radius: 4px;
}

.inp-parent {
  position: relative;
  width: 70%;
}
button.submit {
  padding: 5px;
}

#log-link {
  text-decoration: none;
  font-weight: bold;
  color: var(--main-sign);
  font-size: 20px;
  margin: 15px 0;
  transition: 0.3s;
}

#log-link:hover {
  color: var(--secondary-sign);
}
.inp-parent span.eye {
  display: inline-block;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  right: 0px;
  height: 100%;
  display: flex;
  align-items: center;
}
.inp-parent span.eye .fa-eye {
  color: white;
  padding: 5px;
  font-size: 0.6rem;
  position: relative;
  z-index: 100;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100px;
}
