@import "./toggle.css";
@import "./variables.css";
@import "./nav.css";
@import "./form.css";
@import "./table.css";
@import "./popup.css";
@import "./loading.css";
@import "./pop-clear.css";
@import "./pop-user.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  transition: 0.5s;
}

body {
  width: 100%;
  background-color: var(--main);
}

.container {
  width: 100%;
  height: auto;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--secondary);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, var(--secondary), darkblue);
}

.animate-btn {
  position: relative;
  overflow: hidden;
  z-index: 5;
}
.animate-btn small {
  position: relative;
  z-index: 10;
}
.animate-btn span {
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: animate-btn 2s linear;
  pointer-events: none;
  border: 3px solid var(--secondary);
}

@keyframes animate-btn {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 400px;
    height: 400px;
  }
}
